# Analyzing Airline Customer Satisfaction Data

### Importing libraries

In [1]:
import pandas as pd

### Importing Dataset

In [2]:
df=pd.read_csv('uncleaned.csv')

In [3]:
df

,Customer ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13.0,Personal Travel,Eco Plus,460.0,3.0,4.0,3.0,...,5.0,4.0,3.0,4.0,4.0,5.0,5.0,25.0,18.0,0.0
1,5047.0,Male,disloyal Customer,25.0,Business travel,Business,235.0,3.0,2.0,3.0,...,1.0,1.0,5.0,3.0,1.0,4.0,1.0,1.0,6.0,0.0
2,110028.0,Female,Loyal Customer,26.0,NaN,Business,1142.0,2.0,2.0,2.0,...,5.0,4.0,3.0,4.0,4.0,4.0,5.0,0.0,0.0,1.0
3,24026.0,Female,Loyal Customer,25.0,Business travel,Business,562.0,2.0,5.0,5.0,...,2.0,2.0,5.0,3.0,1.0,4.0,2.0,11.0,9.0,0.0
4,119299.0,Male,Loyal Customer,61.0,Business travel,Business,214.0,3.0,3.0,3.0,...,3.0,3.0,4.0,4.0,3.0,3.0,3.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,78463.0,Male,disloyal Customer,34.0,Business travel,Business,526.0,3.0,3.0,3.0,...,4.0,3.0,2.0,4.0,4.0,5.0,4.0,0.0,0.0,0.0
129876,71167.0,Male,Loyal Customer,23.0,Business travel,Business,646.0,4.0,4.0,4.0,...,4.0,4.0,5.0,5.0,5.0,5.0,4.0,0.0,0.0,1.0
129877,37675.0,Female,Loyal Customer,17.0,Personal Travel,Eco,828.0,2.0,5.0,1.0,...,2.0,4.0,3.0,4.0,5.0,NaN,2.0,0.0,0.0,0.0
129878,90086.0,Male,Loyal Customer,NaN,Business travel,Business,1127.0,3.0,3.0,3.0,...,4.0,3.0,2.0,5.0,4.0,5.0,4.0,0.0,0.0,1.0
129879,34799.0,Female,Loyal Customer,42.0,Personal Travel,Eco,264.0,2.0,5.0,2.0,...,1.0,1.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0

In [4]:
df.head()

,Customer ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13.0,Personal Travel,Eco Plus,460.0,3.0,4.0,3.0,...,5.0,4.0,3.0,4.0,4.0,5.0,5.0,25.0,18.0,0.0
1,5047.0,Male,disloyal Customer,25.0,Business travel,Business,235.0,3.0,2.0,3.0,...,1.0,1.0,5.0,3.0,1.0,4.0,1.0,1.0,6.0,0.0
2,110028.0,Female,Loyal Customer,26.0,NaN,Business,1142.0,2.0,2.0,2.0,...,5.0,4.0,3.0,4.0,4.0,4.0,5.0,0.0,0.0,1.0
3,24026.0,Female,Loyal Customer,25.0,Business travel,Business,562.0,2.0,5.0,5.0,...,2.0,2.0,5.0,3.0,1.0,4.0,2.0,11.0,9.0,0.0
4,119299.0,Male,Loyal Customer,61.0,Business travel,Business,214.0,3.0,3.0,3.0,...,3.0,3.0,4.0,4.0,3.0,3.0,3.0,0.0,0.0,1.0

In [5]:
df.head(10)

,Customer ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13.0,Personal Travel,Eco Plus,460.0,3.0,4.0,3.0,...,5.0,4.0,3.0,4.0,4.0,5.0,5.0,25.0,18.0,0.0
1,5047.0,Male,disloyal Customer,25.0,Business travel,Business,235.0,3.0,2.0,3.0,...,1.0,1.0,5.0,3.0,1.0,4.0,1.0,1.0,6.0,0.0
2,110028.0,Female,Loyal Customer,26.0,NaN,Business,1142.0,2.0,2.0,2.0,...,5.0,4.0,3.0,4.0,4.0,4.0,5.0,0.0,0.0,1.0
3,24026.0,Female,Loyal Customer,25.0,Business travel,Business,562.0,2.0,5.0,5.0,...,2.0,2.0,5.0,3.0,1.0,4.0,2.0,11.0,9.0,0.0
4,119299.0,Male,Loyal Customer,61.0,Business travel,Business,214.0,3.0,3.0,3.0,...,3.0,3.0,4.0,4.0,3.0,3.0,3.0,0.0,0.0,1.0
5,111157.0,Female,Loyal Customer,26.0,Personal Travel,Eco,1180.0,3.0,4.0,2.0,...,1.0,3.0,4.0,4.0,4.0,4.0,1.0,0.0,0.0,0.0
6,82113.0,Male,Loyal Customer,47.0,Personal Travel,Eco,NaN,NaN,4.0,2.0,...,2.0,3.0,3.0,4.0,3.0,5.0,2.0,9.0,23.0,0.0
7,96462.0,Female,Loyal Customer,52.0,Business travel,Business,2035.0,4.0,3.0,4.0,...,5.0,5.0,5.0,5.0,4.0,5.0,4.0,4.0,0.0,1.0
8,79485.0,Female,Loyal Customer,41.0,Business travel,Business,853.0,1.0,2.0,2.0,...,1.0,1.0,2.0,1.0,4.0,1.0,2.0,0.0,0.0,0.0
9,65725.0,Male,disloyal Customer,20.0,Business travel,Eco,1061.0,3.0,3.0,3.0,...,2.0,2.0,3.0,4.0,4.0,3.0,2.0,0.0,0.0,0.0

In [6]:
df.describe()

,Customer ID,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
count,128529.000000,128523.000000,128528.000000,128234.000000,128518.000000,128490.000000,128527.000000,128586.000000,128627.000000,128586.000000,128582.000000,128572.000000,128641.000000,128580.000000,128544.000000,128614.000000,128540.000000,128566.000000,128179.000000,128580.000000
mean,64952.207984,39.431627,1190.924981,2.728684,3.058109,2.757390,2.977227,3.204470,3.252295,3.441487,3.357523,3.382688,3.351031,3.632579,3.306432,3.642418,3.286603,14.712373,15.082159,0.434632
std,37488.848135,15.122337,997.778206,1.328695,1.526723,1.401555,1.278465,1.330105,1.350960,1.319463,1.334123,1.287074,1.316223,1.180025,1.266002,1.176714,1.313623,38.049727,38.431795,0.495711
min,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32509.000000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000,0.000000
50%,64948.000000,40.000000,844.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000,0.000000
75%,97421.000000,51.000000,1744.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000,1.000000
max,129880.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000,1.000000

### Data Description

 0. Serial Number: A serial number is a unique identifier assigned to an individual item or product, typically used for tracking, authentication, and record-keeping purposes.
 
 1.   id         : Refers to a unique identifier for each record or entry in the dataset                  
 
 2.   Gender     : Gender refers to the social, cultural, and psychological traits and roles that a society considers                        
 3.   Customer Type    : The categorization of customers based on their loyalty to the airline                  
 
 4.   Age              : The numerical value representing the age of each customer              
 
 5. Type of Travel    : Indicates whether the travel is for personal or business purposes.
 
 6. Class   : Specifies the class of service (e.g., Economy, Business, First Class).
 
 7. Flight Distance   : The total distance covered during the flight, usually measured in miles or kilometers.
 
 8. Inflight wifi service   : Rating of the inflight Wi-Fi service provided to passengers.
 
 9. Departure/Arrival time convenient   : Passenger satisfaction with the convenience of departure and arrival times.
 
 10. Ease of Online booking   : Evaluation of the simplicity and efficiency of the online booking process.
 
 11. Gate location  : Passenger feedback on the proximity and accessibility of the gate location.
 
 12. Food and drink   : Satisfaction with the food and beverage options available during the flight.
 
 13. Online boarding   : Experience with the online boarding process, such as mobile check-in.
 
 14. Seat comfort   : Passenger rating of the comfort level of their seat.
 
 15. Inflight entertainment   : Satisfaction with the variety and quality of inflight entertainment options.
 
 16. On-board service   : Assessment of the service provided by the cabin crew during the flight.
 
 17. Leg room service   : Rating of the space and comfort provided by the legroom.
 
 18. Baggage handling   : Passenger feedback on the efficiency and care taken with luggage handling.
 
 19. Checkin service    : Evaluation of the ease and efficiency of the check-in process.
 
 20. Inflight service   : Overall rating of the services offered during the flight, including attention from staff.
 
 21. Cleanliness    : Passenger satisfaction with the cleanliness of the aircraft.
 
 22. Departure Delay in Minutes   : The number of minutes the departure was delayed, if any.
 
 23. Arrival Delay in Minutes   : The number of minutes the arrival was delayed, if any.
 
 24. Satisfaction   : Overall customer satisfaction with the airline experience, often rated on a scale.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Customer ID                        128529 non-null  float64
 1   Gender                             128600 non-null  object
 2   Customer Type                      128555 non-null  object
 3   Age                                128523 non-null  float64
 4   Type of Travel                     128602 non-null  object
 5   Class                              128606 non-null  object
 6   Flight Distance                    128528 non-null  float64
 7   Inflight wifi service              128234 non-null  float64
 8   Departure/Arrival time convenient  128518 non-null  float64
 9   Ease of Online booking             128490 non-null  float64
 10  Gate location                      128527 non-null  float64
 11  Food and drink                     128586 non-null  float64
 12  Online boarding                    128627 non-null  float64
 13  Seat comfort                       128586 non-null  float64
 14  Inflight entertainment             128582 non-null  float64
 15  On-board service                   128572 non-null  float64
 16  Leg room service                   128641 non-null  float64
 17  Baggage handling                   128580 non-null  float64
 18  Checkin service                    128544 non-null  float64
 19  Inflight service                   128614 non-null  float64
 20  Cleanliness                        128540 non-null  float64
 21  Departure Delay in Minutes         128566 non-null  float64
 22  Arrival Delay in Minutes           128179 non-null  float64
 23  satisfaction                       128580 non-null  float64
dtypes: float64(20), object(4)
memory usage: 23.8+ MB

### Questions that can be asked out of csv file

1. How does customer satisfaction vary between business and personal travel?
2. Does business travel correlate with higher or lower satisfaction levels compared to leisure travel?
3. Which class (Economy, Business, Economy Plus) has the highest average customer satisfaction?
4. How does seat comfort differ across travel classes?
5. Do longer flights tend to have lower or higher satisfaction ratings?
6. Do customers in higher travel classes report better food and drink satisfaction?
7. Do customers who use online boarding report higher satisfaction?
8. Do customers in different travel classes report varying levels of seat comfort?
9. Which class of travel reports the highest ratings for inflight entertainment?
10. Does the amount of legroom significantly impact customer satisfaction?
11. Are there significant differences in cleanliness ratings between different travel classes?
12. Is there a threshold of delay minutes after which customer satisfaction drops significantly?
13. How many people are totally satisfied with the airline providance and how many are on neutral or dissatisfied?

In [8]:
df.dtypes

Customer ID                          float64
Gender                                object
Customer Type                         object
Age                                  float64
Type of Travel                        object
Class                                 object
Flight Distance                      float64
Inflight wifi service                float64
Departure/Arrival time convenient    float64
Ease of Online booking               float64
Gate location                        float64
Food and drink                       float64
Online boarding                      float64
Seat comfort                         float64
Inflight entertainment               float64
On-board service                     float64
Leg room service                     float64
Baggage handling                     float64
Checkin service                      float64
Inflight service                     float64
Cleanliness                          float64
Departure Delay in Minutes           float64
Arrival Delay in Minutes             float64
satisfaction                         float64
dtype: object

In [9]:
df.describe()

,Customer ID,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
count,128529.000000,128523.000000,128528.000000,128234.000000,128518.000000,128490.000000,128527.000000,128586.000000,128627.000000,128586.000000,128582.000000,128572.000000,128641.000000,128580.000000,128544.000000,128614.000000,128540.000000,128566.000000,128179.000000,128580.000000
mean,64952.207984,39.431627,1190.924981,2.728684,3.058109,2.757390,2.977227,3.204470,3.252295,3.441487,3.357523,3.382688,3.351031,3.632579,3.306432,3.642418,3.286603,14.712373,15.082159,0.434632
std,37488.848135,15.122337,997.778206,1.328695,1.526723,1.401555,1.278465,1.330105,1.350960,1.319463,1.334123,1.287074,1.316223,1.180025,1.266002,1.176714,1.313623,38.049727,38.431795,0.495711
min,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32509.000000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000,0.000000
50%,64948.000000,40.000000,844.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000,0.000000
75%,97421.000000,51.000000,1744.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000,1.000000
max,129880.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000,1.000000

In [10]:
df.columns

Index(['Customer ID', 'Gender', 'Customer Type', 'Age', 'Type of Travel',
       'Class', 'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [11]:
df.shape

(129880, 24)

In [12]:
#null values
df.isnull().sum()

Customer ID                          1351
Gender                               1280
Customer Type                        1325
Age                                  1357
Type of Travel                       1278
Class                                1274
Flight Distance                      1352
Inflight wifi service                1646
Departure/Arrival time convenient    1362
Ease of Online booking               1390
Gate location                        1353
Food and drink                       1294
Online boarding                      1253
Seat comfort                         1294
Inflight entertainment               1298
On-board service                     1308
Leg room service                     1239
Baggage handling                     1300
Checkin service                      1336
Inflight service                     1266
Cleanliness                          1340
Departure Delay in Minutes           1314
Arrival Delay in Minutes             1701
satisfaction                         1300
dtype: int64

In [13]:
#% Null value
df.isnull().sum()*100/len(df)

Customer ID                          1.040191
Gender                               0.985525
Customer Type                        1.020172
Age                                  1.044811
Type of Travel                       0.983985
Class                                0.980905
Flight Distance                      1.040961
Inflight wifi service                1.267324
Departure/Arrival time convenient    1.048660
Ease of Online booking               1.070219
Gate location                        1.041731
Food and drink                       0.996304
Online boarding                      0.964737
Seat comfort                         0.996304
Inflight entertainment               0.999384
On-board service                     1.007083
Leg room service                     0.953957
Baggage handling                     1.000924
Checkin service                      1.028642
Inflight service                     0.974746
Cleanliness                          1.031722
Departure Delay in Minutes           1.011703
Arrival Delay in Minutes             1.309670
satisfaction                         1.000924
dtype: float64

In [14]:
df_renamed_multiple=df.rename(columns={
    'Food and drink':'Refreshment',
    'Customer ID':'Customer Id',
})
df_renamed_multiple

,Customer Id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13.0,Personal Travel,Eco Plus,460.0,3.0,4.0,3.0,...,5.0,4.0,3.0,4.0,4.0,5.0,5.0,25.0,18.0,0.0
1,5047.0,Male,disloyal Customer,25.0,Business travel,Business,235.0,3.0,2.0,3.0,...,1.0,1.0,5.0,3.0,1.0,4.0,1.0,1.0,6.0,0.0
2,110028.0,Female,Loyal Customer,26.0,NaN,Business,1142.0,2.0,2.0,2.0,...,5.0,4.0,3.0,4.0,4.0,4.0,5.0,0.0,0.0,1.0
3,24026.0,Female,Loyal Customer,25.0,Business travel,Business,562.0,2.0,5.0,5.0,...,2.0,2.0,5.0,3.0,1.0,4.0,2.0,11.0,9.0,0.0
4,119299.0,Male,Loyal Customer,61.0,Business travel,Business,214.0,3.0,3.0,3.0,...,3.0,3.0,4.0,4.0,3.0,3.0,3.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,78463.0,Male,disloyal Customer,34.0,Business travel,Business,526.0,3.0,3.0,3.0,...,4.0,3.0,2.0,4.0,4.0,5.0,4.0,0.0,0.0,0.0
129876,71167.0,Male,Loyal Customer,23.0,Business travel,Business,646.0,4.0,4.0,4.0,...,4.0,4.0,5.0,5.0,5.0,5.0,4.0,0.0,0.0,1.0
129877,37675.0,Female,Loyal Customer,17.0,Personal Travel,Eco,828.0,2.0,5.0,1.0,...,2.0,4.0,3.0,4.0,5.0,NaN,2.0,0.0,0.0,0.0
129878,90086.0,Male,Loyal Customer,NaN,Business travel,Business,1127.0,3.0,3.0,3.0,...,4.0,3.0,2.0,5.0,4.0,5.0,4.0,0.0,0.0,1.0
129879,34799.0,Female,Loyal Customer,42.0,Personal Travel,Eco,264.0,2.0,5.0,2.0,...,1.0,1.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0

In [18]:
# Filling missing values with a specific value (e.g., 0)
df_filled = df.fillna(0)
print("\nDataFrame after filling missing values with 0:")
df_filled

DataFrame after filling missing values with 0:

,Customer ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13.0,Personal Travel,Eco Plus,460.0,3.0,4.0,3.0,...,5.0,4.0,3.0,4.0,4.0,5.0,5.0,25.0,18.0,0.0
1,5047.0,Male,disloyal Customer,25.0,Business travel,Business,235.0,3.0,2.0,3.0,...,1.0,1.0,5.0,3.0,1.0,4.0,1.0,1.0,6.0,0.0
2,110028.0,Female,Loyal Customer,26.0,0,Business,1142.0,2.0,2.0,2.0,...,5.0,4.0,3.0,4.0,4.0,4.0,5.0,0.0,0.0,1.0
3,24026.0,Female,Loyal Customer,25.0,Business travel,Business,562.0,2.0,5.0,5.0,...,2.0,2.0,5.0,3.0,1.0,4.0,2.0,11.0,9.0,0.0
4,119299.0,Male,Loyal Customer,61.0,Business travel,Business,214.0,3.0,3.0,3.0,...,3.0,3.0,4.0,4.0,3.0,3.0,3.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,78463.0,Male,disloyal Customer,34.0,Business travel,Business,526.0,3.0,3.0,3.0,...,4.0,3.0,2.0,4.0,4.0,5.0,4.0,0.0,0.0,0.0
129876,71167.0,Male,Loyal Customer,23.0,Business travel,Business,646.0,4.0,4.0,4.0,...,4.0,4.0,5.0,5.0,5.0,5.0,4.0,0.0,0.0,1.0
129877,37675.0,Female,Loyal Customer,17.0,Personal Travel,Eco,828.0,2.0,5.0,1.0,...,2.0,4.0,3.0,4.0,5.0,0.0,2.0,0.0,0.0,0.0
129878,90086.0,Male,Loyal Customer,0.0,Business travel,Business,1127.0,3.0,3.0,3.0,...,4.0,3.0,2.0,5.0,4.0,5.0,4.0,0.0,0.0,1.0
129879,34799.0,Female,Loyal Customer,42.0,Personal Travel,Eco,264.0,2.0,5.0,2.0,...,1.0,1.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0

In [20]:
#% Null value
df.isnull().sum()

Customer ID                          1351
Gender                               1280
Customer Type                        1325
Age                                  1357
Type of Travel                       1278
Class                                1274
Flight Distance                      1352
Inflight wifi service                1646
Departure/Arrival time convenient    1362
Ease of Online booking               1390
Gate location                        1353
Food and drink                       1294
Online boarding                      1253
Seat comfort                         1294
Inflight entertainment               1298
On-board service                     1308
Leg room service                     1239
Baggage handling                     1300
Checkin service                      1336
Inflight service                     1266
Cleanliness                          1340
Departure Delay in Minutes           1314
Arrival Delay in Minutes             1701
satisfaction                         1300
dtype: int64

In [22]:
# Dropping rows with any missing values
df_cleaned_rows = df.dropna() #df.dropna(axis=1)-->columns      df.dropna(axis=0)-->rows 
print("\nDataFrame after dropping rows with any missing values:")
df_cleaned_rows

DataFrame after dropping rows with any missing values:

,Customer ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13.0,Personal Travel,Eco Plus,460.0,3.0,4.0,3.0,...,5.0,4.0,3.0,4.0,4.0,5.0,5.0,25.0,18.0,0.0
1,5047.0,Male,disloyal Customer,25.0,Business travel,Business,235.0,3.0,2.0,3.0,...,1.0,1.0,5.0,3.0,1.0,4.0,1.0,1.0,6.0,0.0
3,24026.0,Female,Loyal Customer,25.0,Business travel,Business,562.0,2.0,5.0,5.0,...,2.0,2.0,5.0,3.0,1.0,4.0,2.0,11.0,9.0,0.0
4,119299.0,Male,Loyal Customer,61.0,Business travel,Business,214.0,3.0,3.0,3.0,...,3.0,3.0,4.0,4.0,3.0,3.0,3.0,0.0,0.0,1.0
5,111157.0,Female,Loyal Customer,26.0,Personal Travel,Eco,1180.0,3.0,4.0,2.0,...,1.0,3.0,4.0,4.0,4.0,4.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129873,120654.0,Male,Loyal Customer,52.0,Business travel,Business,280.0,3.0,3.0,3.0,...,4.0,4.0,4.0,4.0,3.0,4.0,3.0,0.0,0.0,1.0
129874,25309.0,Female,disloyal Customer,36.0,Business travel,Eco,432.0,1.0,5.0,1.0,...,4.0,5.0,2.0,5.0,2.0,3.0,4.0,0.0,0.0,0.0
129875,78463.0,Male,disloyal Customer,34.0,Business travel,Business,526.0,3.0,3.0,3.0,...,4.0,3.0,2.0,4.0,4.0,5.0,4.0,0.0,0.0,0.0
129876,71167.0,Male,Loyal Customer,23.0,Business travel,Business,646.0,4.0,4.0,4.0,...,4.0,4.0,5.0,5.0,5.0,5.0,4.0,0.0,0.0,1.0
129879,34799.0,Female,Loyal Customer,42.0,Personal Travel,Eco,264.0,2.0,5.0,2.0,...,1.0,1.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0

In [24]:
# Filling missing values with the mean of the column
df_filled_mean = df.fillna(df.mean())
print("\nDataFrame after filling missing values with the mean of the column:")
df_filled_mean

C:\Users\Priya\AppData\Local\Temp\ipykernel_13256\4123270306.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_filled_mean = df.fillna(df.mean())

DataFrame after filling missing values with the mean of the column:

,Customer ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13.000000,Personal Travel,Eco Plus,460.0,3.0,4.0,3.0,...,5.0,4.0,3.0,4.0,4.0,5.000000,5.0,25.0,18.0,0.0
1,5047.0,Male,disloyal Customer,25.000000,Business travel,Business,235.0,3.0,2.0,3.0,...,1.0,1.0,5.0,3.0,1.0,4.000000,1.0,1.0,6.0,0.0
2,110028.0,Female,Loyal Customer,26.000000,NaN,Business,1142.0,2.0,2.0,2.0,...,5.0,4.0,3.0,4.0,4.0,4.000000,5.0,0.0,0.0,1.0
3,24026.0,Female,Loyal Customer,25.000000,Business travel,Business,562.0,2.0,5.0,5.0,...,2.0,2.0,5.0,3.0,1.0,4.000000,2.0,11.0,9.0,0.0
4,119299.0,Male,Loyal Customer,61.000000,Business travel,Business,214.0,3.0,3.0,3.0,...,3.0,3.0,4.0,4.0,3.0,3.000000,3.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,78463.0,Male,disloyal Customer,34.000000,Business travel,Business,526.0,3.0,3.0,3.0,...,4.0,3.0,2.0,4.0,4.0,5.000000,4.0,0.0,0.0,0.0
129876,71167.0,Male,Loyal Customer,23.000000,Business travel,Business,646.0,4.0,4.0,4.0,...,4.0,4.0,5.0,5.0,5.0,5.000000,4.0,0.0,0.0,1.0
129877,37675.0,Female,Loyal Customer,17.000000,Personal Travel,Eco,828.0,2.0,5.0,1.0,...,2.0,4.0,3.0,4.0,5.0,3.642418,2.0,0.0,0.0,0.0
129878,90086.0,Male,Loyal Customer,39.431627,Business travel,Business,1127.0,3.0,3.0,3.0,...,4.0,3.0,2.0,5.0,4.0,5.000000,4.0,0.0,0.0,1.0
129879,34799.0,Female,Loyal Customer,42.000000,Personal Travel,Eco,264.0,2.0,5.0,2.0,...,1.0,1.0,2.0,1.0,1.0,1.000000,1.0,0.0,0.0,0.0

In [25]:
df.isnull().sum()

Customer ID                          1351
Gender                               1280
Customer Type                        1325
Age                                  1357
Type of Travel                       1278
Class                                1274
Flight Distance                      1352
Inflight wifi service                1646
Departure/Arrival time convenient    1362
Ease of Online booking               1390
Gate location                        1353
Food and drink                       1294
Online boarding                      1253
Seat comfort                         1294
Inflight entertainment               1298
On-board service                     1308
Leg room service                     1239
Baggage handling                     1300
Checkin service                      1336
Inflight service                     1266
Cleanliness                          1340
Departure Delay in Minutes           1314
Arrival Delay in Minutes             1701
satisfaction                         1300
dtype: int64

In [26]:
#To avoid dropping columns due to missing values, we'll replace null values with mean/median/mode
df.fillna({
    # Numerical columns
    'Customer ID': df['Customer ID'].median(),
    'Flight Distance': df['Flight Distance'].median(),
    'Departure Delay in Minutes': df['Departure Delay in Minutes'].median(),
    'Arrival Delay in Minutes': df['Arrival Delay in Minutes'].median(),
    'Age': df['Age'].median(),
    
    # Categorical columns->mode() 
    'Gender': df['Gender'].mode()[0],
    'Customer Type': df['Customer Type'].mode()[0],
    'Type of Travel': df['Type of Travel'].mode()[0],
    'Class': df['Class'].mode()[0],
    'Inflight wifi service': df['Inflight wifi service'].mode()[0],
    'Departure/Arrival time convenient': df['Departure/Arrival time convenient'].mode()[0],
    'Ease of Online booking': df['Ease of Online booking'].mode()[0],
    'Gate location': df['Gate location'].mode()[0],
    'Food and drink': df['Food and drink'].mode()[0],
    'Online boarding': df['Online boarding'].mode()[0],
    'Seat comfort': df['Seat comfort'].mode()[0],
    'Inflight entertainment': df['Inflight entertainment'].mode()[0],
    'On-board service': df['On-board service'].mode()[0],
    'Leg room service': df['Leg room service'].mode()[0],
    'Baggage handling': df['Baggage handling'].mode()[0],
    'Checkin service': df['Checkin service'].mode()[0],
    'Inflight service': df['Inflight service'].mode()[0],
    'Cleanliness': df['Cleanliness'].mode()[0],
    'satisfaction': df['satisfaction'].mode()[0],
}, inplace=True)

In [27]:
df.isnull().sum()

Customer ID                          0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

### For Numeric-> mean mode median  (Ordinal)
### Categorical->mode  ()
### Median ->when->outliers are present
### Mean->when->outliers are not present